<div class="container">
  <div class="row">
    <div class="col-sm-6 col-12">
      <div class="card border-dark mt-5 p-4">
        <h2>Last Batch:</h2>
        <h3>Beertype:</h3>
        <h4>Brew date:</h4>
      </div>
    </div>
    <div class="col-sm-6 col-12">
      <div class="mt-5">
        <div class="card border-dark p-4">
          <h3>Waneer gaan we brouwen?</h3>
          <h3>Waar gaan we brouwen?</h3>
          <h3>Wat gaan we brouwen?</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <div class="card border-dark p-4">
        <h2>Totaal Liters gebrouwen</h2>
        <h2>Lekkerste Batch</h2>
        <h2>Duurste Batch</h2>
        <h2>Goedkoopste Batch</h2>
      </div>
    </div>
  </div>

  <div class="row mt-4 mb-4">
    <div class="col">
      <div class="card border-dark p-4">
        <h4>Bijna Op! dus bestellen met je bek!</h4>
        <ul>
          <li>dark blablabla</li>
          <li>munster blabla</li>
          <li>Hoplalalal</li>
          <li>schoonmaakspullen</li>
        </ul>
      </div>
    </div>
  </div>
</div>
